@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap");

/* Comomon layout */
#main-content-container {
    display: block;
}
.content {
    position: relative;
}
#banner {
    position: relative;
    display: none;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}
.cp__sidebar-main-content {
    margin: 0 auto;
}
.cp__right-sidebar-inner .resizer {
    z-index: 9;
}

/* Banner */
body:is([data-page="page"], [data-page="home"]).is-banner-active #banner {
    height: var(--bannerHeight);
}
body:is([data-page="page"], [data-page="home"]).is-banner-active #banner::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--pageBanner);
    background-position-y: var(--bannerAlign);
}

/* Icon */
body[data-page="home"].is-icon-active .journal-item:first-of-type>.page>.flex-col:first-child>.content>.flex-1::before,
body[data-page="page"].is-icon-active .page>.relative>.flex-row>.flex-1::before {
    content: var(--pageIcon);
    font-size: var(--iconWidth);
    font-weight: normal;
    position: absolute;
    left: -7px;
    z-index: 2;
    transform: translateY(-55%);
    line-height: initial;
    opacity: 0.9;
}
body[data-page="home"].is-icon-active .journal-item:first-of-type .journal-title,
body[data-page="page"].is-icon-active .page-title,
body[data-page="page"].is-icon-active .ls-page-title.editing {
    margin-top: 35px;
}
body[data-page="home"].is-icon-active #journals .journal-item:first-child {
    margin-top: 0;
}

/* Small icons for other home journal items */
body[data-page="home"].is-icon-active #journals .journal-item h1.title::before {
    content: var(--pageIcon);
    margin-right: 8px;
    font-size: 0.9em;
    font-weight: normal;
}
body[data-page="home"].is-icon-active #journals .journal-item:first-of-type h1.title::before {
    display: none;
}
.page-title .page-icon {
    display: none;
}

/* Widgets */
#banner-widgets {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#banner-widgets::before {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(var(--widgetsCalendarWidth) * 0.93);
    height: 100%;
    background-color: rgba(var(--widgetsBgColor), 0.8);
    filter: drop-shadow(0px 1px 10px rgba(var(--widgetsTextColor), 0.4));
}
#banner-widgets.banner-widgets-bg::before {
    display: block;
}
#banner-widgets iframe {
    margin: 0;
}

/* Calendar */
#banner-widgets-calendar {
    position: absolute;
    top: 0;
    left: 2px;
    transform: scale(0.9) translate(-5%, -5%);
}
#banner-widgets-calendar .logseq-block-calendar {
    width: var(--widgetsCalendarWidth);
    overflow: hidden;
    color: rgb(var(--widgetsTextColor));
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-shadow: 1px 1px 0px rgba(var(--widgetsBgColor), 0.8);
    font-weight: bold;
}
/* #banner-widgets-calendar .calendar-title {
} */
#banner-widgets-calendar .calendar-month {
    padding-left: 8px;
}
#banner-widgets-calendar .calendar-nav {
    padding: 0 8px 0 0;
}
/* #banner-widgets-calendar .calendar-nav a {
}
#banner-widgets-calendar .calendar-head {
} */
#banner-widgets-calendar .logseq-block-calendar th {
    border: 0;
}
#banner-widgets-calendar .calendar-head td {
    padding: 2px 0;
    font-size: 16px;
    border: 0;
}
#banner-widgets-calendar .calendar-day {
    display: block;
    padding: 0 10px;
    height: 1.8rem;
    opacity: 1;
    transition: none;
}
#banner-widgets-calendar .calendar-day-today {
    background-color: rgba(var(--widgetsBgColor), 0.5);
}
#banner-widgets-calendar .calendar-day:hover {
    background-color: rgba(var(--widgetsBgColor), 0.2);
}

/* Weather */
#banner-widgets-weather {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: calc(var(--widgetsCalendarWidth) * 0.93);
    padding: 0 10px;
    text-shadow: 1px 1px 0px rgba(var(--widgetsBgColor), 0.8);
    line-height: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#banner-widgets-weather .weather_dailyForecastContainerWithDots {
    margin-bottom: 32px !important;
}
#banner-widgets-weather .weather_text {
    font-size: 0.8em !important;
    text-align: center;
    word-break: keep-all;
    color: rgba(var(--widgetsTextColor)) !important;
}
#banner-widgets-weather .weather_dailyContainer .weather_text {
    display: inline;
}
#banner-widgets-weather .weather_row {
    align-items: center;
}
#banner-widgets-weather > .weather_currentContainer {
    justify-content: flex-end !important;
    margin-right: 8px !important;
}
#banner-widgets-weather .weather_currentContainer > .weather_currentContainer {
    flex: initial !important;
}
#banner-widgets-weather .weather_degreeRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#banner-widgets-weather .col-xl {
    white-space: nowrap;
}
#banner-widgets-weather .col-xl:last-child::before {
    content: "\00a0(";
}
#banner-widgets-weather .col-xl:last-child::after {
    content: ")";
}
#banner-widgets-weather .weather_dailyContainer .weather_image {
    width: 32px;
    height: 32px;
}
#banner-widgets-weather .weather_text + div {
    overflow: hidden;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner-widgets-weather .weather_currentContainer > .weather_currentContainer .weather_image {
    max-width: 50px !important;
    margin-right: 0px !important;
}


/* Quote */
#banner-widgets-quote {
    position: relative;
    max-width: calc(100% - var(--widgetsCalendarWidth));
    margin: 6px 8px;
    filter: drop-shadow(0px 0px 2px rgba(var(--widgetsTextColor), 0.2)) drop-shadow(-2px -2px 0px rgba(var(--widgetsBgColor), 0.8))
}
#banner-widgets-quote::before {
    --widgetsQuoteIcon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3.7 6.3C5 4.8 7.2 4 10 4h1v2.8l-.8.2c-1.4.3-2.3.8-2.8 1.6a2.9 2.9 0 0 0-.5 1.4H10a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H3a1 1 0 0 1-1-1v-8s-.2-2.7 1.7-4.7zM20 20h-6a1 1 0 0 1-1-1v-8s-.2-2.7 1.7-4.7C16 4.8 18.2 4 21 4h1v2.8l-.8.2c-1.4.3-2.3.8-2.8 1.6a2.9 2.9 0 0 0-.5 1.4H21a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2z'/%3E%3C/svg%3E");
    display: block;
    content: "";
    position: absolute;
    top: -18px;
    left: -10px;
    z-index: 1;
    width: 30px;
    height: 30px;
    -webkit-mask: var(--widgetsQuoteIcon) no-repeat 50% 50%;
    mask: var(--widgetsQuoteIcon) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: rgba(var(--widgetsTextColor), 0.9);
}
#banner-widgets-quote-block {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: calc(var(--widgetsQuoteFS) * 0.8);
    text-align: right;
    border-radius: 6px;
    text-shadow: 1px 1px 0px rgba(var(--widgetsBgColor), 0.8);
    background-color: rgba(var(--widgetsBgColor), 0.7);
}
@media (min-width: 1024px) {
    #banner-widgets-quote-block {
        font-size: var(--widgetsQuoteFS);
    }
}
#banner-widgets-quote-link {
    display: block;
    padding: 6px 12px;
    color: var(--ls-primary-text-color);
}
#banner-widgets-quote-text {
    max-width: var(--widgetsQuoteMaxWidth, 48ch);
    font-size: var(--widgetsQuoteSize, 100%);
    line-height: 1.2em;
}

/* Custom */
/* #banner-widgets-custom {
} */
#banner-widgets-pomo {
    width: 182px;
    height: 110px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 6px;
    filter: saturate(0.3) brightness(0.9) opacity(0.6);
    transform: scale(0.8) translate(23px, -14px);
}
