@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap');

/* Comomon layout */
#main-content-container {
    display: block;
}
.content {
    position: relative;
}
#banner {
    display: none;
}
.cp__sidebar-main-content {
    margin: 0 auto;
}
.cp__right-sidebar-inner .resizer {
    z-index: 9;
}

/* Banner */
body:is([data-page="page"], [data-page="home"]).is-banner-active #banner {
    position: relative;
    overflow: hidden;
    height: var(--bannerHeight);
    margin: 0 auto;
    background-image: var(--pageBanner);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: var(--bannerAlign);
}

/* Icon */
body[data-page="home"].is-icon-active .journal-item:first-of-type>.page>.flex-col>.content>.flex-1::before,
body[data-page="page"].is-icon-active .page>.relative>.flex-row>.flex-1::before {
    content: var(--pageIcon);
    font-size: var(--iconWidth);
    font-weight: normal;
    position: absolute;
    left: -7px;
    z-index: 2;
    transform: translateY(-55%);
    line-height: initial;
}
body[data-page="home"].is-icon-active .journal-item:first-of-type .journal-title,
body[data-page="page"].is-icon-active .page-title,
body[data-page="page"].is-icon-active .ls-page-title.editing {
    margin-top: 35px;
}
body[data-page="home"].is-icon-active #journals .journal-item:first-child {
    margin-top: 0;
}

/* Small icons for other home journal items */
body[data-page="home"].is-icon-active #journals .journal-item h1.title::before {
    content: var(--pageIcon);
    margin-right: 8px;
    font-size: 0.9em;
    font-weight: normal;
}
body[data-page="home"].is-icon-active #journals .journal-item:first-of-type h1.title::before {
    display: none;
}
.page-title .page-icon {
    display: none;
}

/* Widgets */
#banner-widgets {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#banner-widgets::before {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(var(--widgetsCalendarWidth) * 0.93);
    height: 100%;
    background-color: rgba(var(--widgetsBgColor), 0.8);
    filter: drop-shadow(0px 1px 10px rgba(var(--widgetsTextColor), 0.4));
}
#banner-widgets.banner-widgets-bg::before {
    display: block;
}
#banner-widgets iframe {
    margin: 0;
}

/* Calendar */
#banner-widgets-calendar {
    position: absolute;
    top: 0;
    left: 2px;
    transform: scale(0.9) translate(-5%, -5%);
}
#banner-widgets-calendar .logseq-block-calendar {
    width: var(--widgetsCalendarWidth);
    overflow: hidden;
    color: rgba(255,255,255);
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-shadow: 1px 1px 0px rgba(var(--widgetsBgColor), 0.8);
    font-weight: bold;
}
/* #banner-widgets-calendar .calendar-title {
} */
#banner-widgets-calendar .calendar-month {
    padding-left: 8px;
}
#banner-widgets-calendar .calendar-nav {
    padding: 0 8px 0 0;
}
/* #banner-widgets-calendar .calendar-nav a {
}
#banner-widgets-calendar .calendar-head {
} */
#banner-widgets-calendar .logseq-block-calendar th {
    border: 0;
}
#banner-widgets-calendar .calendar-head td {
    padding: 2px 0;
    font-size: 16px;
    border: 0;
}
#banner-widgets-calendar .calendar-day {
    display: block;
    padding: 0 10px;
    height: 1.8rem;
    opacity: 1;
    transition: none;
}
#banner-widgets-calendar .calendar-day:hover {
    background-color: rgba(var(--widgetsBgColor), 0.2);
}

/* Weather */
#banner-widgets-weather {
    position: absolute;
    bottom: 6px;
    left: -162px;
    width: 632px;
    height: 110px;
    transform: scale(0.8);
    pointer-events: none;
}
html[data-theme='dark'] #banner-widgets-weather {
    filter: hue-rotate(180deg) invert(1);
}

/* Quote */
#banner-widgets-quote {
    margin: 12px 10px;
    filter: drop-shadow(0px 1px 10px rgba(var(--widgetsTextColor), 0.3));
}
#banner-widgets-quote::before {
    display: block;
    content: "🙷";
    position: relative;
    top: 14px;
    left: -14px;
    height: 0;
    line-height: 0;
    font-size: 80px;
    font-family: initial;
    font-style: normal;
    letter-spacing: -0.08em;
    text-shadow: -1px -1px 0px rgba(var(--widgetsBgColor), 0.8);
}

#banner-widgets-quote-text {
    max-width: 48ch;
    padding: 3px 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: calc(var(--widgetsQuoteFS) * 0.8);
    line-height: 1.2em;
    text-align: right;
    border-radius: 6px;
    background: rgba(var(--widgetsBgColor), 0.8);
    text-shadow: 1px 1px 0px rgba(var(--widgetsBgColor), 0.8);
}

@media (min-width: 1024px) {
    #banner-widgets-quote-text {
        font-size: var(--widgetsQuoteFS);
    }
}

/* Custom */
/* #banner-widgets-custom {
} */
#banner-widgets-pomo {
    width: 182px;
    height: 110px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 6px;
    filter: saturate(0.3) brightness(0.9) opacity(0.6);
    transform: scale(0.8) translate(23px, -14px);
}
